body{
	/*background-color: lightblue;*/
	width: 100%;
	background-image: url('../images/gotBanner.jpg');
	background-color: hsl(0, 0%, 6%);
	/*background-image: url('../images/gotTitle.jpg');*/
	/*background-color: hsl(70, 90%, 90%);*/
	background-repeat: repeat-x;
	background-size: contain;
	background-position: center top;
}

.banner{

}

#main{

}

.cre{
	/*width: 140px;
	height: 150px;*/
	float: left;
	text-align: center;
	margin-top: 450px;
	margin-bottom: 20px;
}

.crest{
	background-color: black;
	background-clip: content-box;
	width: 200px;
	height: 210px;
	padding: 1px;
	border: 3px solid gray;
	border-radius: 10px;
	margin: 7px;
	float: left;
}

.crest:hover {
	cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
}

.house{
	background-color: black;
	width: 210px;
	display: 'none';
	text-align: center;
	font-family: blackadder ITC;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.region{
	/*background-color: aqua;*/
	width: 210px;
	font-family: verdana;
	font-size: 12px;
	color: gray;
}

.lord{
	/*background-color: pink;*/
	width: 210px;
	font-family: verdana;
	font-size: 12px;
	color: gray;
}

.alleg{
	/*background-color: lime;*/
	width: 210px;
	font-family: verdana;
	font-size: 12px;
	color: gray;
}

.word{
	/*background-color: yellow;*/
	width: 210px;
	font-family: lucida caligraphy italic;
	font-size: 20px;
	color: silver;
}